.table-wrapper {
  overflow-x: auto;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid black;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: lightgray;
}

table tr:nth-child(odd) {
  background-color: rgb(161, 161, 161);
}

table th {
  text-align: left;
  color: white;
  background-color:rgb(60, 60, 60);
  padding: 12px 8px;
}